.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
}
.navBar{
   
    background-color: rgb(71, 189, 189);
    color: beige;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
}
.hompageContainer{
display: flex;
justify-content: center;
align-items: center;
}
.navLink{
    display: flex;
    justify-content:flex-start;
    gap: 1rem;
    align-items: center;
}